<h2>Slot Details</h2>
<p><strong>Start Time:</strong> <%= @slot.start_time.strftime("%I:%M %p") %></p>
<p><strong>End Time:</strong> <%= @slot.end_time.strftime("%I:%M %p") %></p>
<p><strong>Price:</strong> <%= @slot.price %></p>
<p><strong>Status:</strong> <%= @slot.status %></p>

<% if @slot.booking.present? %>
  <p><strong>Booked By:</strong> <%= @slot.booking.user.email %></p>
<% end %>
<%= link_to "Edit Slot", edit_branch_ground_slot_path(@branch, @ground, @slot), class: "btn btn-warning" %>
<%= link_to "Back to Slots", branch_ground_slots_path(@branch, @ground), class: "btn btn-secondary" %>
