<%= form_with(model: branch, class: "p-3 border rounded shadow-lg w-50 bg-white") do |form| %>
  
  <% if branch.errors.any? %>
    <div class="alert alert-danger">
      <h5><%= pluralize(branch.errors.count, "error") %> prohibited this branch from being saved:</h5>
      <ul>
        <% branch.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :city, class: "form-label fw-bold" %>
    <%= form.text_field :city, class: "form-control form-control-sm w-50", placeholder: "Enter city name" %>
  </div>

  <div class="text-start">
    <%= form.submit branch.new_record? ? "Create City" : "Update City", class: "btn btn-primary btn-sm px-4" %>
  </div>

<% end %>
