<p style="color: green"><%= notice %></p>

<% content_for :title, "Branches" %> 

<h1>Cities</h1> 

<div id="branches">
<h3> Total cities available : <%= @branches.count %> </h3>

<ul>
  <% @branches.each do |branch| %>
    <li>
    <%= link_to branch.city ,branch%> <br>
      available grounds : <%= branch.grounds.count %>  <br>
      <% if policy(branch).edit? %>

       <%= link_to "Edit", edit_branch_path(branch) %> 
      <% end %>

    <% if policy(branch).destroy? %>


    <%= button_to "Delete", branch, method: :delete, data: { confirm: "Are you sure?" } %>
     <% end %>



    </li>
      

  <% end %>
</ul>
</div>

<% if user_signed_in? %>
<% if policy(Branch).new? %>

<%= link_to "New branch", new_branch_path %>
<% end %>

<% end %>
