<p style="color: green"><%= notice %></p>

<%= render @branch %>



<h2>Grounds in <%= @branch.city %></h2>

<% if @grounds.any? %>
  <ul>
    <% @grounds.each do |ground| %>
      <li>
<%= link_to ground.name, branch_ground_path(@branch, ground) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No grounds available for this branch.</p>
<% end %>

<%= link_to "Add a New Ground", new_branch_ground_path(@branch), class: "btn btn-primary" %>


<div>
  <%= link_to "Edit this city", edit_branch_path(@branch) %> <br>
  <%= link_to "Back to cities", branches_path %>

  <%= button_to "Destroy this city", @branch, method: :delete %>
</div>
