<p style="color: green"><%= notice %></p>

<%= render @branch %>

<h2>Grounds in <%= @branch.city %></h2>

<% if @grounds.any? %>
  <ul>
    <% @grounds.each do |ground| %>
      <li>
      <% if policy(ground).show? %>

        <%= link_to ground.name, branch_ground_path(@branch, ground) %>  [ <%= ground.location %> ]

      <% else %>
      <h5> already created by some one</h5>
      <% end %>
        </li>
    <% end %>
  </ul>
<% else %>
  <p>No grounds available for this branch.</p>
<% end %>

<% if current_user.has_role?(:admin) || current_user.has_role?(:super_admin) %>
  <%= link_to "Add a New Ground", new_branch_ground_path(@branch), class: "btn btn-primary" %>
<% end %>

<div>
<% if user_signed_in? && policy(@branch).edit? %>
<% if current_user.has_role?(:superadmin) %>
  <%= link_to "Edit", edit_branch_path(@branch), class: "btn btn-warning" %>
<% end %>
<% end %>

<% if user_signed_in? && policy(@branch).destroy? %>
<% if current_user.has_role?(:superadmin) %>
  <%= button_to "Delete", @branch, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
<% end %>
<% end %>

  
  <%= link_to "Back to cities", branches_path %>
</div>
