<h1>Grounds for <%= @branch.name %></h1>
<%= link_to 'New Ground', new_admin_branch_ground_path(@branch), class: "btn btn-primary" %>



<div id="<%= dom_id ground %>">
  <p>
    <strong>Name:</strong>
    <%= ground.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= ground.location %>
  </p>

  <p>
    <strong>City:</strong>
    <%= ground.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= ground.state %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= ground.country %>
  </p>

  <p>
    <strong>Pincode:</strong>
    <%= ground.pincode %>
  </p>

  <p>
    <strong>Ground type:</strong>
    <%= ground.ground_type %>
  </p>

  <p>
    <strong>Capicity:</strong>
    <%= ground.capicity %>
  </p>

  <p>
    <strong>Price per hourse:</strong>
    <%= ground.price_per_hour %>
  </p>

  <p>
    <strong>Availabiity:</strong>
    <%= ground.availabiity %>
  </p>

  <p>
    <strong>Open time:</strong>
    <%= ground.open_time %>
  </p>

  <p>
    <strong>Close time:</strong>
    <%= ground.close_time %>
  </p>

  <p>
    <strong>Facility:</strong>
    <%= ground.facility %>
  </p>

  <p>
    <strong>Contact number:</strong>
    <%= ground.contact_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= ground.email %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= ground.description %>
  </p>

  <p>
    <strong>Branch:</strong>
    <%= ground.branch_id %>
  </p>

</div>


        <%= link_to 'Edit', edit_admin_ground_path(ground) %> |
        <%= link_to 'Delete', admin_ground_path(ground), method: :delete, data: { confirm: 'Are you sure?' } %>
     
  <% end %>
