<div id="<%= dom_id ground %>">

<% if @ground.image.attached? %>
  <%= image_tag @ground.image %>
<% else %>
  <p>No image available</p>
<% end %>

  <p>
    <strong>Name:</strong>
    <%= ground.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= ground.location %>
  </p>

  <p>
    <strong>City:</strong>
    <%= ground.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= ground.state %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= ground.country %>
  </p>

  <p>
    <strong>Pincode:</strong>
    <%= ground.pincode %>
  </p>

  
  <p>
    <strong>Capicity:</strong>
    <%= ground.capicity %>
  </p>

  

  <p>
    <strong>Open time:</strong>
    <%= ground.open_time %>
  </p>

  <p>
    <strong>Close time:</strong>
    <%= ground.close_time %>
  </p>

  <p>
    <strong>Facility:</strong>
    <%= ground.facility %>
  </p>

  <p>
    <strong>Contact number:</strong>
    <%= ground.contact_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= ground.email %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= ground.description %>
  </p>

  <p>
    <strong>Branch:</strong>
    <%= ground.branch_id %>
  </p>

</div>
