<p style="color: green"><%= notice %></p>

<%= render @ground %>

<h3>Slots</h3>
<%= link_to "Add Slot", new_branch_ground_slot_path(@branch, @ground), class: "btn btn-primary" %>

<table>
  <thead>
    <tr>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @ground.slots.each do |slot| %>
      <tr>
        <td><%= slot.start_time.strftime("%I:%M %p") %></td>
        <td><%= slot.end_time.strftime("%I:%M %p") %></td>
        <td><%= slot.price %></td>
        <td>
<%= link_to "Edit Slot", edit_branch_ground_slot_path(@branch, @ground, slot), class: "btn btn-warning" %>
          <%= button_to "Delete", branch_ground_slot_path(@branch,@ground, slot), method: :delete, data: { confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>




<div>

        
<%= link_to "Edit this ground", edit_branch_ground_path(@ground.branch, @ground) %> |
<%= link_to "Back to grounds", branch_grounds_path(@ground.branch) %>

<%= button_to "Destroy this ground", branch_ground_path(@ground.branch, @ground), method: :delete %>
<%= link_to "Cancel", "javascript:history.back()", class: "btn btn-secondary" %>

</div>
